.footer {
  background-color: #0a58f5;
  color: white;
  text-align: center;
  padding: 20px;
}

.social-links {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center; /* Center align the links */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.social-links a {
  color: white;
  margin: 0 15px; /* Adjust space between icons */
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.social-links a .social-icon {
  width: 20px; /* Adjust icon size */
  height: 20px;
  margin-right: 5px; /* Space between icon and text */
  filter: brightness(0) invert(1); /* Change icon color to white */
}

.social-links a:hover {
  color: #61dafb; /* Change to your preferred hover color */
}